@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    position: absolute;
    top: 30%;
    left: 22%;
    transform: translate(-50%);
}

.people{
    width: 15%;
    position: absolute;
    top: 20%;
    right: 35%;
    transform: translate(-50%);

}

.places{
    width: 15%;
    position: absolute;
    top: 10%;
    right: 0%;
    transform: translate(-50%);

}

.travel{
    width: 15%;
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translate(-50%);
    transition: 1s ease-in-out;

}

.travel:hover{
    filter: brightness(0) invert(1);
}

.travel:before{
    border: black dashed 5p;
}

